.App {
  width: 500px;
}

textarea {
  width: 100%;
}

.pass-icon {
  color: green;
}

.fail-icon {
  color: red;
}

.MuiTypography-body1 {
  font-size: small !important;
}

.submit {
  margin: 10px 0 10px;
}

.MuiListItem-root {
  padding-left: 0px !important;
}
